/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

@layer components {
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-200;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
